<hr style="height: 3px; margin: 0" />
### 6 A

Rewrite the following comprehension with 2 standard loops so the outputs are equal

```python
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

# output
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
```

In [ ]:
out = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            out.append((x, y))
print(out)

<hr style="height: 3px; margin: 0" />
### 6 B

```python
knights = {
    'gallahad': 'the pure', 
    'robin': 'the brave', 
    'bedevere': 'the wise'
}
```

Loop over the dictionary and print key-value pairs sorted on **key**.  
The output should be:

```
bedevere the wise
gallahad the pure
robin the brave
```

In [ ]:
knights = {
    'gallahad': 'the pure', 
    'robin': 'the brave', 
    'bedevere': 'the wise'
}

for key in sorted(knights.keys()):
    value = knights[key]
    print(key, value)

<hr style="height: 3px; margin: 0" />    
### 6 C

```python
knights = {
    'gallahad': 'the pure', 
    'robin': 'the brave', 
    'bedevere': 'the wise'
}
```

Loop over the dictionary and print key-value pairs sorted on **value**.  
The output should be:

```
robin the brave
gallahad the pure
bedevere the wise
```

In [ ]:
knights = {
    'gallahad': 'the pure', 
    'robin': 'the brave', 
    'bedevere': 'the wise'
}

for value in sorted(knights.values()):
    for key in knights.keys():
        if knights[key] == value:
            print(key, value)

<hr style="height: 3px; margin: 0" />    
### 6 D

Lists have the `append` method, sets have the `update` method to add items in bulk.  
Dictionaries also have the `update` method, but the differ slightly from the set versions.  
See if you can find out how it differs from `set.update`.

In [ ]:
dict_1 = {1: "one"}
print(dict_1)

# This adds the items like we expect
dict_1.update({2: "two", 3: "three"})
print(dict_1)

# This overwrites ('updates') the existing elements
dict_1.update({1: "uno", 2: "dos", 3: "tres"})
print(dict_1)

<hr style="height: 3px; margin: 0" />    
### 6 E

* Generate a list of multiples of three (> -30 and <30)

In [ ]:
[3 * x for x in range(int(-27 / 3), int(30 / 3))]

In [ ]:
print([x for x in range(-29, 30) if not x % 3])

<hr style="height: 3px; margin: 0" />    
### 6 F

* Generate a list with 2<sup>x</sup> with x ranging from 0 - 10

In [ ]:
[2 ** x for x in range(10)]

<hr style="height: 3px; margin: 0" />    
### 6 G

* Generate a list with all numbers from 0 - 30 which are divisible by an odd number > 1 and < 10

In [ ]:
odd_numbers_gt_one_lt_ten = [x for x in range(2, 10) if not x % 2 == 0]

print(odd_numbers_gt_one_lt_ten)

list(set(x for x in range(30) for d in odd_numbers_gt_one_lt_ten if not x % d))

<hr style="height: 3px; margin: 0" />    
### 6 H

* Import module **random**  
Get a sorted list of all unique values in [random.randint(0, 20) for _ in range(20)]

In [ ]:
import random

sorted(set([random.randint(0, 20) for _ in range(20)]))

<hr style="height: 3px; margin: 0" />    
### 6 I

* Generate a list of all words with length three from the following sentence
* Bonus points if you can filter out the punctuation

In [ ]:
exercise_str = "Elizabeth, New Jersey, " \
"when my mother was being raised there in a flat over her father's grocery store, " \
"was an industrial port a quarter the size of Newark, " \
"dominated by the Irish working class and their politicians " \
"and the tightly knit parish life that revolved around the town's many churches, " \
"and though I never heard her complain of having been pointedly ill-treated in Elizabeth as a girl, " \
"it was not until she married and moved to Newark's new Jewish neighborhood " \
"that she discovered the confidence that led her to become first a PTA \"grade mother\", " \
"then a PTA vice president in charge of establishing a Kindergarten Mothers' Club, and finally the PTA president, " \
"who, after attending a conference in Trenton on infantile paralysis, " \
"proposed an annual March of Dimes dance on January 30 - President Roosevelt's birthday - " \
"that was accepted by most schools."

In [ ]:
{x for x in exercise_str.split() if len(x) == 3}

In [ ]:
{x for x in exercise_str.replace("\"", "").replace(",", "").split() if len(x) == 3}