In [2]:
# from https://stackoverflow.com/questions/41128456/pandas-filter-across-all-columns
import numpy as np                                                                                                     
import pandas as pd                                                                                                    
                                                                                                                       
a = np.array([1,2,3,4,6,7,8,9])                                                                                        
b = np.array([2,4,6,8,10,12,13,15])                                                                                    
c = np.array([-1,-2,-2,-3,-4,-6,-7,-8])                                                                                
                                                                                                                       
corr = np.corrcoef([a,b,c])                                                                                            
df = pd.DataFrame(corr)                                                                                                
df

          0         1         2
0  1.000000  0.995350 -0.980521
1  0.995350  1.000000 -0.971724
2 -0.980521 -0.971724  1.000000

In [9]:
                                                                                                 
# loop through rows in dataframe                                                                                       
for index, row in df.iterrows():                                                                                       
    print(row[0], row[1], row[2])

1.0 0.995350013555 -0.980521403245
0.995350013555 1.0 -0.971723943659
-0.980521403245 -0.971723943659 1.0

In [3]:
# filtered comparison                                                                                                  
df > 0.5

       0      1      2
0   True   True  False
1   True   True  False
2  False  False   True

In [4]:
# filtered values                                                                                                      
df[df > 0.5]

         0        1    2
0  1.00000  0.99535  NaN
1  0.99535  1.00000  NaN
2      NaN      NaN  1.0

In [5]:
                                                                                                                                                                                                              
# add some names to columns/indexes                                                                                    
df.index = ['a','b','c']                                                                                               
df.columns=['a','b','c']                                                                                               
                                                                                                                       
# stacked comparison                                                                                                   
df.stack() > 0.5

a  a     True
   b     True
   c    False
b  a     True
   b     True
   c    False
c  a    False
   b    False
   c     True
dtype: bool

In [6]:
# stacked filter (strips out non matching numbers)                                                                     
df.stack()[df.stack() > 0.5]

a  a    1.00000
   b    0.99535
b  a    0.99535
   b    1.00000
c  c    1.00000
dtype: float64