# Faector Workshop

## Data analysis with Python Week 2


*jasper.opdecoul@eur.nl / peter.vanhuisstede@eur.nl*<br/> 
*buijs@rsm.nl / kemperman@rsm.nl*

# Agenda

- 9:30 - 10:00 Homework Review
- 10:00 - 11:00 SQL Databases
- 11:00 - 11:15 Pauze
- 11:15 - 12:15 Peer Programming: Web scraping
- 12:15 - 12:30 Wrap up

# Database Basics

Relational databases store tabular data in **tables**. Tables contain **rows** and **columns**, similar to a spreadsheet.

<img src="img/sql_students.png">

Databases typically store many tables
<img src="img/sql_clubs.png">

Instead of storing the club information in the students table, an extra tabel can be used to store student membership of a club. This is a form of **database normalization**. 
<img src="img/sql_memberships.png">
### Advantages:

* Students can have multiple club memberships
* If the name, description or president of a club changes, we only have to edit in one place
* If the name or email of a student changes, we only have to edit on one place

# Types of Databases


| File Based |
|------------|
| MS Access  | 
| SQLite     |

In [2]:
import csv, sqlite3

con = sqlite3.connect(':memory:')
cur = con.cursor()
cur.execute("CREATE TABLE lusitania(survived, age, sex, pclass);")

with open('data/lusitania.csv') as fp:
    rows = csv.DictReader(fp) # comma is default delimiter
    to_db = [(row['Fate'], 
              row['Age'], 
              row['Sex'],
              row['Department/Class']) for row in rows]

cur.executemany("""
   INSERT INTO lusitania(survived, age, sex, pclass) 
   VALUES (?, ?, ?, ?);""", to_db)
con.commit()


for row in cur.execute("SELECT * FROM lusitania LIMIT 10"):
    print(row)
    
conn.close()

KeyError: 'Fate'

# Types of Databases


| File Based | Server Based    |
|------------|-----------------|
| MS Access  | MySQL / MariaDB |
| SQLite     | PostgreSQL      |
|            | MS SQLServer    |
|            | Oracle          |

# Types of Databases


| File Based | Server Based    | Big Data        |
|------------|-----------------|-----------------|
| MS Access  | MySQL / MariaDB | Amazon Redshift |
| SQLite     | PostgreSQL      | Google Spanner  |
|            | MS SQLServer    | Google BigQuery |
|            | Oracle          |                 |

# Types of Databases


| File Based | Server Based    | Big Data        | No SQL         |
|------------|-----------------|-----------------|----------------|
| MS Access  | MySQL / MariaDB | Amazon Redshift | Mongo DB       |
| SQLite     | PostgreSQL      | Google Spanner  | Hadoop / Spark |
|            | MS SQLServer    | Google BigQuery | Cassandra      |
|            | Oracle          |                 | Neo4J          |

# Structured Query Language
## A query can contain the following clauses:

<img style="float: right;width:200px"  src="img/SELECT-all-FROM-users-WHERE-clue-greater-than-0-Gray-NEW-500x500.jpg">
*Clauses **must** be written in the following order:*

* SELECT
  *&lt;which columns to return&gt;*
* FROM
  *&lt;which table&gt;*
* WHERE
  *&lt;filtered columns&gt;*
* GROUP BY
  *&lt;aggregated columns&gt;*
* HAVING
  *&lt;filtered columns after aggregation&gt;*
* ORDER BY
  *&lt;sort columns&gt;*
* LIMIT
  *&lt;number of rows to return&gt;*